@font-face {
    font-family: 'Monument';
    src: url('./MonumentExtended-FreeForPersonalUse/MonumentExtended-Ultrabold.otf');
}


@font-face {
    font-family: 'Gilroy';
    src: url('./Gilroy-FREE/Gilroy-ExtraBold.otf');
}

/* @font-face {
    font-family: 'gilroy';
    src: url('./FontsFree-Net-Gilroy3.ttf');
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
}

#main {
    height: 100%;
    width: 100%;
    padding-top: 0.1px;
}

#nav {
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}



#nav h1 {

    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 3vw;
    letter-spacing: -1px;
    position: relative;
}

#nav h1::after {
    content: "©";
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
    position: absolute;
    top: 22%;
    right:3%;
}

#nav h1::before {
    content: "model management";
    font-family: gilroy;
    font-weight: 500;
    color: #666;
    font-size: 15px;
    letter-spacing: 0.1px;
    position: absolute;
    bottom: 10%;
    right: 18%;
}

#nav h2 {
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    font-family: 'Gilroy';
    
}

#nav h2:nth-child(1) {
    width: 10%;
}

#nav h2:nth-child(3) {
    border-left: 2px solid #000;
}

#nav h2:nth-child(4) {
    width: 25%;
    border-left: 2px solid #000;
}

#nav h2:nth-last-child(2) {
    width: 10%;
    border-left: 2px solid#000;
}

#nav h3{
    display: none;
}

#center {
    height: 80vh;
    width: 100%;
    padding: 2vw 6vw;
}

#container {
    height: 100%;
    width: 100%;
    position: relative;
}

#container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 1vw 0;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
}

#over1 h1 {
    font-family: 'Monument';
    font-size: 3.2vw;
    font-weight: 900;
    color: #fff;
}

#over1 h6 {
    padding: 1vw;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 1vw;
}

#over2 {
    border-top: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4vw;
}

#over2 h5 {
    font-size: 1.2vw;
    font-weight: 600;
    font-family: 'gilroy';
    color: #fff;
}

#over2 img {
    width: 7.2%;
    height: 10%;
}

#scroll {
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content {
    display: inline-block;
    height: 100%;
    width: 110%;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}

#scroll img {
    height: 95%;
    border-radius: 50%;
    width: 15%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}

@keyframes anime {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

#alphabet {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#alphabet h5 {
    font-style: italic;
    font-size: 2vw;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 2vw;
    border-bottom: 2px solid #000;
}

#alphabet h6 {
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #00000000;
    transition: all ease 0.2s;
}

#alphabet h6:hover {
    border: 1px solid #000000;
}

#page2 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 6vw;
}

.part1 {
    height: 100%;
    width: 55%;
}

.part1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part2 {
    height: 100%;
    width: 40%;
}

.part2 img {
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 30%;
}

.para {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.para h2 {
    width: 35%;
    height: fit-content;
    padding: 2vw 0vw;
    font-size: 1.3vw;
    font-family: 'Gilroy';
    font-weight: 900;
}

.para p {
    width: 50%;
    height: fit-content;
    padding: 2vw 2vw;
    font-size: 0.8vw;
    font-family: 'gilroy';
    font-weight: 700;
}


#page3 {
    height: 80vh;
    width: 100%;
}

#page3 h1 {
    height: fit-content;
    width: fit-content;
    font-family: 'Monument';
    font-size: 40px;
    letter-spacing: 2px;
    padding: 0vw 9vw;

}

#parts {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 6vw;
    position: relative;
}

#parts1 {
    height: 100%;
    width: 40%;
    position: relative;
}

#img {
    height: 100%;
    width: 100%;
    position: relative;
}


#img img {
    width: 100%;
    height: 60%;
}

#over {
    height: 100%;
    width: 100%;
    background-image: url(./5-2-arrow-transparent-thumb.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 11%;
    left: 30%;

}

#parts1 h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 3vw;
    font-size: 1.8vw;
    font-family: 'Gilroy';

}

#parts2 {
    height: 100%;
    width: 50%;
}

#parts2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 10%;
}

#page4 {
    height: 90vh;
    width: 100%;
    padding: 3vw 6vw;
}

.img-contain {
    height: 100%;
    width: 100%;
}

.img-contain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 30%;
}

#page5 {
    height: 100vh;
    width: 100%;
    padding: 2vw 6vw;
}

#page5>h1 {
    font-family: 'Monument';
    text-align: center;
    font-size: 3.5vw;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 4vw;
}

.elem {
    width: 100%;
    height: 18vh;
    padding: 2vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #000;
    position: relative;
    cursor: pointer;
}

.elem>h4 {
    width: 130px;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.elem img {
    position: absolute;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 30%;
    left: 10%;
    opacity: 0;
    transition: all ease 0.9s;
}

#elem-part1 {
    width: 16%;
    position: absolute;
    left: 10%;
    opacity: 0;
    transition: all ease 0.9s;
}

#elem-part1>h3 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 0.1vw;
}

#elem-part1>h5 {
    font-size: 20px;
    font-family: 'gilroy';
    color: #6e6e6e;
}

.elem:hover #elem-part1 {
    left: 20%;
    opacity: 1;
}

.elem:nth-child(3) img {
    left: 40%;
    opacity: 0;
}

.elem:nth-child(5) {
    border-bottom: 2px solid #000;
}

.elem:hover img {
    left: 23%;
    opacity: 1;
}

.elem-part2 {
    width: 55%;
    height: fit-content;
    padding: 0 3vw;
}

.elem-part2>h4 {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 400;
}

.elem-part2>h5 {
    color: #6e6e6e;
    margin-top: -5px;
}

#page6 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 6vw;
}

#content1 {
    width: 45%;
    height: 100%;
}

#content1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#content2 {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#content-part1 {
    width: 100%;
    height: 40%;

}

#content-part1 h1 {
    font-family: 'Monument';
    font-size: 2.2vw;
    margin-bottom: 2vw;
}

#content-part1 h3 {
    width: 57%;
    font-family: 'gilroy';
    font-size: 1.4vw;
}

#content-part1 p {
    width: 95%;
    margin-top: 1.5vw;
    font-size: 1vw;
    font-weight: 600;
}

#content-part2 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#content-part2 img:nth-child(1) {
    height: 100%;
    width: 60%;
    object-fit: cover;
    margin-right: 1.5vw;
}

#content-part2 img:nth-child(2) {
    height: 100%;
    width: 40%;
    object-fit: cover;
}

#page7 {
    height: 90vh;
    width: 100%;
    padding: 3vw 6vw;
}

#page8 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 6vw;
}

#marque {
    width: 100%;
    padding: 0.8vw;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#marque>h1 {
    display: inline-block;
    font-size: 3.8vw;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: 'Monument';
    margin-right: 16px;
    letter-spacing: 3px;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

#page9 {
    height: 80vh;
    width: 100%;
    padding: 4vw 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page9 #p1 {
    height: 100%;
    width: 20%;
}

#p1 h1 {
    font-size: 3vw;
    font-family: 'Monument';
    text-transform: uppercase;
}

#page9 #p2 {
    height: 100%;
    width: 35%;
    padding: 0.5vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

#p2 h2 {
    height: 30%;
    font-size: 1.6vw;
    font-family: 'gilroy';

}

#p2 h2 span {
    padding: 0 0.8vw;
    border: 2px solid #000;
    border-radius: 50%;
    margin-right: 1vw;
}

#p2 img {
    height: 65%;
    width: 100%;
    object-fit: cover;
    object-position: 0 30%;
    border-radius: 5vw;
}

#page9 #p3 {
    height: 100%;
    width: 38%;
    padding: 0.5vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#p3 h2 {
    height: 30%;
    font-size: 1.6vw;
    font-family: 'gilroy';


}

#p3 h2 span {
    padding: 0 0.8vw;
    margin-right: 1vw;
    border: 2px solid #000;
    border-radius: 50%;
}

#p3 img {
    height: 65%;
    border-radius: 5vw;
    width: 100%;
    object-fit: cover;
    object-position: 0 30%;
}

#footer {
    height: 40vh;
    width: 100%;
}

#foot-sec {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#foot-sec h1 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    font-family: 'Monument';
    font-weight: 900;
    font-size: 2.8vw;
    letter-spacing: -2px;
    padding-top: 2vw;
    font-size: 3vw;
    position: relative;
}

#foot-sec>h1::after {
    content: "©";
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
    position: absolute;
    top: 12%;
    right: 14%;
}

#foot-sec>h1::before {
    content: "model management";
    font-family: gilroy;
    font-weight: 500;
    color: #666;
    font-size: 15px;
    letter-spacing: 0.1px;
    position: absolute;
    bottom: 60%;
    right: 18%;
}

#foot-sec>h2 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    border-right: 2px solid #000;
    padding-top: 2vw;
    font-size: 1.6vw;
}

#foot-sec2 {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
}

#foot-sec2>h2 {
    height: 30%;
    width: 100%;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    padding: 0 3vw;
}

#icons {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
    padding: 0 3vw;
}

#icons i {
    font-size: 28px;
}

#foot-sec2>p {
    height: 40%;
    display: flex;
    align-items: center;
    padding: 0 3vw;
    font-size: 20px;
}